#h {
    background-color: tomato;
}

#hp {
    background-color: hotpink;
}

#sb {
    background-color: steelblue;
}

#rsb{
    background-color: #BC8F8F;
}

#pi {
  background-color: pink;
}

#br {
  background-color: brown;
}

#ly {
  background-color: #FFD700;
}

#y{
  background-color: #FFFF00;
}

#g{
  background-color: #008000;
}

#b {
  background-color: #ADD8E6;
}

#rb {
  background-color: #BC8F8F;
}

#w {
  background-color: #F5F5F5;
}
