*{
    box-sizing: border-box;
    width: auto;
    margin: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    padding: 6px;
    background-color: lightblue;
    color: white;
    
}

.nl {
    color: white;
    text-decoration: none;
    
}

.nr {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    float: right;
    
}
.p1 , .p2 {
    margin-top: 15px;

}
.bt {
    background-color:#2ECC71 ;
    margin-left: 10px;
}
.bt:hover {
    cursor: pointer;
}

.shnv {
    float: right;
    padding: 50px;
    color: black;  
}

#lk {
    color: black;
    text-decoration: none;
    padding-left: 15px;
}

#ik:hover { 
    cursor: pointer;
}
#ik:active {
    border-bottom: brown;
}
.centered0 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    font-style: bold;
}

.desc {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    
}
.btn{
    padding: 5px 10px;
}
#tb1 {  
    width: 100%;
    height: 50px;
}
.responsive {
    margin-top: 70px;
    float: left;
    width: 18.99999%;
    text-align: center;
}

.adv {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

.avs {
    color: green;
}

.da {
    text-align: center;
    color: lightgray;
}

.descrip {
    margin-top: 10px;
}

.lorem {
    font-size: 0.9em;
    color: lightgray;
    margin-top: 10px;
}

#tb2 {
    background-color: lightgray;
    height: 500px;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.top-left {
    position: absolute;
    top: 100px;
    left: 16px;
}

.readmore {
    float: left;
    position: relative;
    background-color: orange;
    padding: 10px 20px;
    margin-left: 30px;
    margin-top: 20px;
}

#clms {
    margin-top: 10px;
}
.column {
    float: left;
    width: 25%;
    padding: 0 30px;
}
  
.card {
    padding: 50px;
    text-align: center;
    background-color: lightgray;
}

.tbl{
    width: 100%;
    height: 30px;
}

.portfolio {
	background-color: black;
	text-align: center;
    width: 100%;
    height: 700px;	
}

.pf {
    padding-top: 10px;
}


.portfolio-lk{
	float: none;
	padding: 5px;
    color: white;	
}

#portfolio-lk {
	color: white;
	text-decoration: none;
	padding-left: 15px;	
}
