*{
    box-sizing: border-box;
    width: auto;
    margin: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    padding: 6px;
    background-color: lightblue;
    color: white;
    
}

.nl {
    color: white;
    text-decoration: none;
    
}

.nr {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    float: right;
    
}
.p1 , .p2 {
    margin-top: 15px;

}
.bt {
    background-color: green;
    margin-left: 10px;
}
.bt:hover {
    cursor: pointer;
}

.shnv {
    float: right;
    padding: 50px;
    color: black;
    
}

#lk {
    color: black;
    text-decoration: none;
    padding-left: 15px;
}

#ik:hover { 
    cursor: pointer;
}
#ik:active {
    border-bottom: brown;
}